<div class="text-center">
  <button class="btn fondo-morado text-white fw-bold my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Agregar Habilidad
  </button>
</div>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row text-center">

      <label class="col-lg-2 col-form-label">Nombre</label>
      <div class="col-lg-4">
        <input [(ngModel)]="nombreH" type="text" class="form-control my-1">
      </div>    

      <label  class="col-lg-2 col-form-label">Porcentaje</label>
      <div class="col-lg-4">
        <input [(ngModel)]="porcentaje" type="text" class="form-control my-1">
      </div>

      <label class="col-lg-2 col-form-label">Descripcion</label>
      <div class="col-lg-4">
        <input [(ngModel)]="descH" type="text" class="form-control my-1">
      </div>

      <label  class="col-lg-2 col-form-label">Imagen</label>
      <div class="col-lg-4 text-center">
        <input [(ngModel)]="imgH" type="text" class="form-control my-1">
        <div class="form-text my-1">Dimensiones recomendadas 400x600px</div>
      </div>

      <button type="submit" class="btn fondo-rojo fw-bold text-white" (click)="agregarHabilidad()">Agregar</button>

    </div>
  </div>
</div>

