
.iconos{
    font-size: 1rem; 
}
.twitter{
    color: #00acee;
}
.facebook{
    color:#3b5998;
}
.instragram{
    color:#E1306C  ;   
}
.linkedin{
    color:#0e76a8;
}
.descargar{
    color: yellowgreen;
}