    
<div class="row">

    <div class="col-md-2">

    <app-header></app-header>

    </div>

    <div class="col-md-10">

    <div class="container">

        <app-acerca-de></app-acerca-de>
        
        <div class="my-5">

            <app-habilidades></app-habilidades>

        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <app-formacion></app-formacion>
            </div>
            <div class="col-md-6">
                <app-experiencias></app-experiencias>
            </div>
        </div>

        <app-contacto></app-contacto>
            
    </div>
    
    <app-footer></app-footer>

    </div>



</div>