
<div class="text-center">
  <button class="btn fondo-morado text-white my-2" type="button" data-bs-toggle="collapse" data-bs-target="#agregarFormacion" aria-expanded="false" aria-controls="collapseExample">
    Agregar Formacion
  </button>
</div>

<div class="collapse" id="agregarFormacion">
  <div class="card card-body">
    <div class="row text-center">

    <div class="col-6">
      <label class="form-label">Nombre</label>
      <div class="mb-3 mt-1">
        <input [(ngModel)]="nombreF" type="text" class="form-control">
      </div> 
    </div>

    <div class="col-6">
      <label  class="form-label">Fecha de inicio</label>
      <div class="mb-3 mt-1">
        <input [(ngModel)]="fechaIF" type="text" class="form-control">
      </div>
    </div>

    <div class="col-6">
      <label class="form-label">Fecha de finalizacion</label>
      <div class="mb-3 mt-1">
        <input [(ngModel)]="fechaFF" type="text" class="form-control">
      </div>
    </div>

    <div class="col-6">
      <label  class="form-label">Descripcion</label>
      <div class="mb-3 mt-1">
        <input [(ngModel)]="descF" type="text" class="form-control">
      </div>
    </div>

      <button type="submit" class="btn fondo-rojo fw-bold my-3 text-white" (click)="agregarFormacion()">Agregar</button>

    </div>
  </div>
</div>